
.qso-header {
  display: grid;
  grid-template-columns: 50px auto 10px;
  /* grid-gap: 1em; */
  grid-template-rows: 20px auto ;
  grid-template-areas: "profileSection actionSection buttonSection" "profileSection infoSection buttonSection";
  /* justify-content: space-evenly; */
}

.qso-avatar {
  grid-area: profileSection;
  /* position: fixed; */
  /* grid-column: 1 / 4;
    grid-row: 1; */
  /* z-index: 1; */
  
}

.qso-header-action {
  font-size: 1.3rem;
  /*grid-column: span 4;*/
  grid-area: actionSection;
  /* grid-column: 2;
    grid-row: 2; */
  /* max-width: 730px; */
  margin-left: 4px;
}

.qso-header-info {
  grid-area: infoSection;
  margin-top: 0.1rem;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: 1rem;
  line-height: 1.2em;
  /* position: sticky;
  top: 60px;
  left: 0;
  height: 100vh; */
}
.qso-header-info-post {
  grid-area: infoSection;
  margin-top: 0.1rem;
  margin-left: 4px;
  display: flex;
  justify-content: flex-start;
  text-align: center;
  font-size: 1rem;
  line-height: 2em;
  /* position: sticky;
  top: 60px;
  left: 0;
  height: 100vh; */
}
.qso-header-info-post > div {
  margin: 5px
}
.qso-header-button {
  grid-area: buttonSection;
  /* position: sticky;
  top: 60px;
  left: 0;
  height: 100vh; */
}

@media (max-width: 910px) {
  .qso-header {
    display: grid;
    grid-template-columns: 50px auto 10px;
    /* grid-gap: 1em; */
    grid-template-rows: auto auto ;
    grid-template-areas: "profileSection actionSection buttonSection" "profileSection infoSection buttonSection";
    /* justify-content: space-evenly; */
  }
  
  .qso-avatar {
    grid-area: profileSection;
    /* position: fixed; */
    /* grid-column: 1 / 4;
      grid-row: 1; */
    /* z-index: 1; */
    
  }
  
  .qso-header-action {
    
    font-size: 1.3rem;
    /*grid-column: span 4;*/
    grid-area: actionSection;
    /* grid-column: 2;
      grid-row: 2; */
    /* max-width: 730px; */
    margin-left: 4px;

  }
  
  .qso-header-info {
    grid-area: infoSection;
    margin-top: 0.1rem;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 1rem;
    line-height: 1.2em;
    /* position: sticky;
    top: 60px;
    left: 0;
    height: 100vh; */
  }
  .qso-header-info-post {
    grid-area: infoSection;
    margin-top: 0.1rem;
    margin-left: 4px;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    font-size: 1rem;
    line-height: 2em;
    /* position: sticky;
    top: 60px;
    left: 0;
    height: 100vh; */
  }
  .qso-header-info-post > div {
    margin: 5px
  }
  .qso-header-button {
    grid-area: buttonSection;
    /* position: sticky;
    top: 60px;
    left: 0;
    height: 100vh; */
  }
}