/* HOME */
.global-container{
    display: grid;
    grid-template-columns:  160px 570px 160px;
    /* grid-gap: 1em; */
    grid-template-rows: 60px auto;
    grid-template-areas:
        "pageHeader pageHeader pageHeader"
        "leftSection mainSection rightSection";
        justify-content: space-evenly   ;    
}

.site-header{    
    grid-area: pageHeader;    
    position: fixed;
    /* grid-column: 1 / 4;
    grid-row: 1; */
    z-index: 1;
    
}

.site-main{
    /*grid-column: span 4;*/
    grid-area: mainSection;
    /* grid-column: 2;
    grid-row: 2; */
    
    max-width: 570px;
}
.site-left{
    
    grid-area: leftSection;    

    
    position: sticky;
    top: 60px;
    left: 0;
    height: 100vh;

}


.site-right{    
    grid-area: rightSection;
    /* grid-column: 3;
    grid-row: 2; */
  
    position: sticky;
    top: 60px;
    left: 0;
    height: 100vh;
}
/* FEED ITEMS */
.feed-item-comments{
    overflow: 'visible';
}

/* QRA PROFILE */
.profile-container{
    display: grid;
    grid-template-columns:  730px 160px;
    /* grid-gap: 1em; */
    grid-template-rows: 60px auto;
    grid-template-areas:
        "pageHeader pageHeader"
        "mainSection rightSection";
        justify-content: space-evenly   ;    
}
.profile-main{
    /*grid-column: span 4;*/
    grid-area: mainSection;
    /* grid-column: 2;
    grid-row: 2; */
    
    max-width: 730px;
}
/* QSO DETAIL */
.qsoDetail-container{
    display: grid;
    grid-template-columns:  160px 570px 160px;
    /* grid-gap: 1em; */
    grid-template-rows: 60px auto;
    grid-template-areas:
        "pageHeader pageHeader pageHeader"
        "leftSection mainSection rightSection";
        justify-content: space-evenly   ;    
}
.qsoDetail-main{
    /*grid-column: span 4;*/
    grid-area: mainSection;
    /* grid-column: 2;
    grid-row: 2; */
    
    max-width: 730px;
}
.notifications-container{
    display: grid;
    grid-template-columns:  160px 570px 160px;
    /* grid-gap: 1em; */
    grid-template-rows: 60px auto;
    grid-template-areas:
        "pageHeader pageHeader pageHeader"
        "leftSection mainSection rightSection";
        justify-content: space-evenly   ;    
}

.notifications-main{
    /*grid-column: span 4;*/
    grid-area: mainSection;
    /* grid-column: 2;
    grid-row: 2; */
    
    max-width: 730px;
}

@media (max-width: 910px){
    .global-container{
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: 60px auto;
        grid-template-areas:
        "pageHeader"
        "mainSection";
        justify-content: space-between;
    }

    .site-header{
        grid-area: pageHeader;    
        position: fixed;
        width: 100%
    }
    .site-main{
        /*grid-column: span 4;*/
        grid-area: mainSection;
        /* grid-column: 2;
        grid-row: 2; */
        
        max-width: 730px;
    }
    .site-left{
        display: none;
    }
    .site-right{
        display: none;
    }
    .profile-container{
        display: grid;
        grid-template-columns:   repeat(1, 100%);
        /* grid-gap: 1em; */
        grid-template-rows: 60px auto;
        grid-template-areas:
        "pageHeader"
        "mainSection";
        justify-content: space-between;
    }
    .profile-main{
        /*grid-column: span 4;*/
        grid-area: mainSection;
        /* grid-column: 2;
        grid-row: 2; */
        
        max-width: 730px;
    }
    .qsoDetail-container{
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: 60px auto;
        grid-template-areas:
        "pageHeader"
        "mainSection";
        justify-content: space-between;
    }
    .qsoDetail-main{
        /*grid-column: span 4;*/
        grid-area: mainSection;
        /* grid-column: 2;
        grid-row: 2; */
        
        max-width: 730px;
    }
    .notifications-container{
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: 70px auto;
        grid-template-areas:
        "pageHeader"
        "mainSection";
        justify-content: space-between;
    }
    .notifications-main{
        /*grid-column: span 4;*/
        grid-area: mainSection;
        /* grid-column: 2;
        grid-row: 2; */
        
        max-width: 730px;
    }
}






