container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 1em;
    grid-template-rows: 60px auto;
    grid-template-areas:
        "pageHeader pageHeader pageHeader "
        "leftSection mainSection rightSection";
        justify-content: space-evenly;
}

header{
    /*grid-column: span 6;*/
    grid-area: pageHeader;    
    
    /* grid-column: 1 / 4;
    grid-row: 1; */
    z-index: 1;
    
}

main{
    /*grid-column: span 4;*/
    grid-area: mainSection;
    /* grid-column: 2;
    grid-row: 2; */
    
    
}

left{
    
    grid-area: leftSection;    
    /* grid-column: 1;
    grid-row: 2;     */
    justify-self: center;
    position: sticky;
    top: 70px;
    left: 0;
    height: 100vh;

}


right{
    
    grid-area: rightSection;
    /* grid-column: 3;
    grid-row: 2; */
    justify-self: center;
    position: sticky;
    top: 70px;
    left: 0;
    height: 100vh;
}

@media only screen and (max-width: 700px) {
	container {
		grid-template-areas: "pageHeader"
		                     "mainSection";
		                    
		grid-template-columns: 100%;
        grid-template-rows: 60px auto;
	}
}

