/* @media only screen and (min-width: 512px) {
} */
.center0{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* width:calc( 0px+ 20vw); */
  }

.center{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width:calc( 35px + 25vw);
  }

  .image{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* width:100vw;  */
    /* width:50vw; */
  }
.jpg{
  border: 15px;
}
.butt{
  cursor: 'pointer'
}

  .texto{
    display: flex;
    flex-direction: row;
      margin-top: 20px; 
    flex-wrap: nowrap;
     justify-content: space-between; 
    align-items: center;
  }

  .tx1{
    display: flex;
    flex:100%;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    align-self: center;
    /* font-size:'50px'; */
    font-size: 17px;
    /* margin-right: 100px; */
   
}

  .contenedor{
	display: flex;
	flex-direction: row;
    margin-top: 20px; 
	/* flex-wrap: nowrap; */
	/* justify-content: space-between; */
	/* align-items: center; */
}

.it1{
    display: flex;
    flex:50%;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end; 
    align-self: flex-end;
    /* margin-right: 100px; */
   
}
.it2{
   display: flex;
    flex:50%;
    margin-left: 90px;
    flex-direction: row;
	align-items: flex-start;
    justify-content: flex-start;
    align-self: flex-start; 

   
}